.popup .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  display: none;
}

.popup .popup-content{
 position: absolute;
 top: -35%;
 left: 50%;
 background-color: white;
 transform: translate(-50%,50%);
 width: 500px;
 z-index: 400;
 text-align: center;
 padding: 20px;
 box-sizing: border-box;
}

.close-btn{
  position: absolute;
  
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  font-size: 25px;
}

