/** IMPORTS **/
@import url("/css/partials/header.css");
@import url("/css/partials/footer.css");
@import url("/css/partials/footerNavbar.css");
@import url("/css/partials/headerNavbar.css");
@import url("/css/partials/headerLogin.css");
@import url("/css/main/mainIndex.css");
@import url("/css/main/mainLogin.css");
@import url("/css/main/mainRegister.css");
@import url("/css/main/mainCart.css");
@import url("/css/main/mainProducto.css");
@import url("/css/main/mainPerfilDatos.css");
@import url("/css/main/main_detalleProducto.css");
@import url("/css/main/mainAdmin.css");
@import url("/css/main/mainEditarUsuario_Producto.css");
@import url("/css/main/mainEditarProducto.css");
@import url("/css/mainPerfilDatos.css");
@import url("/css/quantity.css");
@import url("/css/popup.css");
@import url("/css/carousel.css");
@import url("/css/sweetalarms.css");


html{
    scroll-behavior: smooth;
}


html::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  
  html::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  html::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ab191f;
  }



/** BODY GENERAL **/
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif ;
    overflow-x: auto;
    overflow-y: auto;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

footer{
    font-family: 'Montserrat', sans-serif ;
}

.clearButton{
    background-color: transparent;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#btn-back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ab191f; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


/**************************MOBILE***********************************/
@media (max-width: 480px) {
    
    html, body{
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #logo{
        width: 50vw;
        padding-bottom: 15px;
        
    }

    #separador{
        display: none;
    } 

    .footerContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        justify-self: center;
    }
    .footerContainer h1{
        display: none;
    }
    .footerContainer ul{
        padding-left: 0;
        margin-left: 0;
    }

    .containerMain{
        margin-right: 50%;
        display: flex;
        flex-direction: column;
        
    }

    /** SCROLLABLE MAIN Y STATIC HEADER, FOOTER**/
    main{
        flex: 1;
        overflow: auto;
    }
}