
<html>
    <%- include("partials/head") %>
    
    <body style="overflow-y: hidden;">
    
       <div class="headerOriginal">
          <%- include("partials/header") %>
       </div>
    
    
       <div class="headerNavbar">
          <%- include("partials/headernavbar") %>
       </div>
    
       <main>
    
        
        
           
          <p style="color: #ab191f;font-size: 28px; text-align: center;"> No eres un <span style="font-weight: 900;">
            administrador </span>, por lo que no puedes acceder a esta página </p>
          <div class="noSession">
    
             <a href="/"> Volver al inicio </a>
             
    
          </div>
    
       </main>
    </body>
    
    </html>