
<html>
<%- include("partials/head") %>

<body style="overflow-y: hidden;">

   <div class="headerOriginal">
      <%- include("partials/header") %>
   </div>


   <div class="headerNavbar">
      <%- include("partials/headernavbar") %>
   </div>

   <main>

    
    
       
      <p style="color: #ab191f;font-size: 28px; text-align: center;"> Necesitas iniciar <span style="font-weight: 900;"> sesión </span> para acceder 
            </p>
      <div class="noSession">

         <a href="/login"> INICIAR SESIÓN</a>
         <a href="/register"> REGISTRARSE</a>

      </div>

   </main>
</body>

</html>