<header class="sizeFooterNav">
   <div class="padFromTop">
    <div class="flex">
       <a class="icon" href="/" id="home" > <i class="fas fa-home"></i> </a> 
       <a class="icon" href="#"> <i class="fas fa-heart"></i></a>
       <a class="icon" href="/cart"> <i class="fas fa-shopping-bag"></i> </a>
       <a class="icon" href="/" id="home" > <i class="fas fa-bell"></i> </a> 
       <div class="Mas">
          <a id="barras" class="icon" href="#"> <i class="fas fa-bars"></i> </a>
         </div>
      </div>
 
        
       <!--<div class="dropdown-user">
          <a class="icon" href="#"> <i class="fas fa-user"></i> </a>
          <div class="dropdown-content-user">
             <a style="font-size: 12px;" href="/login"> Iniciar Sesión </a> 
             <a style="font-size: 12px;" href="/register"> Registrarse </a>
             <a style="font-size: 12px;" href="#"> Mi Cuenta </a>
          </div>
         </div>-->
      

  </div>
    </div>
 </header>