<footer>
    <div class="footerContainer">
            <div>
               <img href="/" src="img/stuff/card.png" >
               <h2> <b> Pagá con tarjeta o en efectivo </b> </h2>
               <p> Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
            <div>
                <img href="/" src="img/stuff/gift-box.png" >
               <h2> <b> Registrate </b> </h2>
               <p> Tendrás acceso a beneficios exlusivos </p>
            </div>
            <div>
               <img href="/" src="img/stuff/shield.png" >
               <h2> <b> Envíos seguros </b> </h2>
               <p> Trabajamos con Mercado Envíos para que tus productos lleguen seguros a tu casa  </p>
            </div>

               
        
    </div>
                <div class="masInfo">
                    <a> Tel: 11 6020-4654 | laloopstation@gmail.com | Av. Cnel. Díaz 2381, PB A</a>
                    <br>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"> Copyrigth @Grupo3DH. Todos los derechos reservados</p>
    </div>
</footer>

