<header class="head">
    <div class="search-boxMobile">
        <form action="/productosBuscados" method="POST" class="search-form" enctype="multipart/form-data">
            <input type="text" class="input-search" name="productoBuscado" placeholder="Buscar...">
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
         </form>
        <a id="cartNavbar" class="icon" href="/cart"> <i style="color: white;" class="fas fa-shopping-cart"></i> </a>
    </div>
</header>

