.dataEditar {
    display: flex;
    flex-direction: column;
    align-self: center;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.dataEditar label{
    color: white;
    font-weight: 900;
    padding-bottom: 0.5vh;
}

.dataEditar input{
    padding: 10px 10px 10px;
    padding-right: 40px;
    border-radius: 3px;
    border: 0;
    word-wrap: break-word;
}

.dataEditar textarea{
    padding: 10px 10px 10px;
    padding-bottom: 10vh;
    padding-right: 40px;
    border-radius: 3px;
    border: 0;
    border-radius: 3px;
}



.dataEditar select{
    padding: 10px 10px 10px;
    padding-right: 40px;
    border-radius: 3px;
    border: 0;
}



